<a href="https://colab.research.google.com/github/JuanManueArenas/ejercicios_for/blob/main/Ejercicios_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSTRUCCION REPETITIVA FOR

In [ ]:
#Ejercicio 1: mostrar los numeros del 1 al 10, sin usar intrucciones repetitivas

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
#Ejercicio 2: mostrar los numeros del 1 al 10 utilizando instrucciones repetitivas

contador = 1
print(contador)
while contador <10:
  #contador = contador + 1
  contador += 1
  print(contador)

In [ ]:
#Ejercicio 3: mostrar los numeros del 1 al 10 utilizando la instruccion for y una lista como iterable

lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print(i)

In [ ]:
#Ejercicio 4: mostrar los numeros del 1 al 10, usando la instruccion for y la funcion range

for i in range(1,11):
  print(i)

In [ ]:
#Ejercicio 5: mostrar una frase 10 veces, usando la instruccion for y una lista

lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print(f"{i} Sistemas, la mejor ")

In [32]:
#Ejercicio 6: mostrar  la silaba unicial de los dias de la semana, usando for y una lista inicial de los dias

dias_semana = ["lu", "ma", "mi", "ju", "vi", "sa", "do"]  
for i in  dias_semana:
  print(i)

lu
ma
mi
ju
vi
sa
do

In [ ]:
from re import I
#Ejercicio 7: mostrar una lista de distintos tipos de datos, usando for

lista = [1, 3, 4, 9, True, "nestor", 8, "Guanenta"]
for i in lista:
  print(i)

In [ ]:
#Ejercicio 8: ingresar su nombre  y mostrarlo letra a letra, usando for
nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra)

In [ ]:
#Ejercicio 9: ingresar su nombre y mostrarlo letra a letra, usando for cambiando por asterisco * a la vocal e

nombre = input("Digite su nobre: ") 
for letra in nombre: 
  if letra == "e":
    print("*")
  else:
    print(letra)

In [ ]:
#Ejercicio 10: ingresar su nombre y mostrarlo letra por letra, en mayuscula usando for.

nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra.upper())

In [ ]:
#Ejercicio 11: imprimir listas de numeros usando for y range 

print("Numeros del 0 al 9")
for i in range(10):
  print(i)

print("Numeros del 1 al 11")
for i in range(10):
  print(i)

print("10 veces la frase")
for i in  range(10):
  print("sistemas el mejor ")

print("10 veces  la frase i = ")
for i in range(10):
  print("i = " + str(i))

print("10 veces la frase i = ")
for i in range (10):
  print(f" i = {i}")

print("Rango del 7 al 18 , incrementando de 4 en 4")
for i in range(7,19,4):
  print(i)

print("Convierte rango  en lista a, y la muestra")
a = list(range(1000))
print(a)

# Ejercicios 
1. Dada  la siguiente lista de numeros, [20, 21, 30, 41, 50, 51, 201] mostrar  en pantalla solo los que NO terminan en 1

2. mostrar 1000 veces la palabra "Programacion"

3. Del conjunto de cadenas ["E", "F", "M", "A"] que corresponden a las iniciales de los primeros cuatro meses del aÃ±o, mostrar el nombre completo de dichos meses

4. Leer un texto y determinar cuantas veces dicho texto contiene cada una de las vocales en minuscula y/o mayuscula

In [ ]:
# Ejercicio 1

numeros = [20, 21, 30, 41, 50, 51, 201]

for i in numeros:
    if i % 10 == 0:
        print(i)

In [ ]:
# Ejercicio 2

for i in range(1000):
    print("Programacion")

In [ ]:
# Ejercicio 3

iniciales = ["E", "F", "M", "A"]

meses = {"E": "Enero","F": "Febrero","M": "Marzo","A": "Abril"}

for i in iniciales:
    mes = meses[i]
    print(mes)

In [ ]:
# Ejercicio 4

texto = ("Este es un ejemplo de texto para contar las vocales")
texto = texto.lower()  

vocales = ["a", "e", "i", "o", "u"]
contadores = {v: 0 for v in vocales}  

for letra in texto:
    if letra in vocales:
        contadores[letra] += 1
for v in vocales:
    print(f"{v}: {contadores[v]}")